python-telegram-bot >= 13.4, <= 13.15
pixivpy3 >= 3.7.5
pygtrans >= 1.4.0
opencc >= 1.1.7
numpy >= 1.22.1
pyzipper >= 0.3.6
webdav4 >= 0.9.5
docx-hitalent >= 0.8.30 # used on python 310
pdfplumber >= 0.7.6

# dispensable packages
# pywin32 # only used on Windows
func_timeout >= 4.3.5 # only used on Windows CMD

# dispensable packages, todo in the future
# pixivpy_async
# aiohttp_socks

