[Unit]
Description= FurryNovels Telegram bot

[Service]
WorkingDirectory=/home/bot/furrynovels/
ExecStart=/home/bot/furrynovels/TelegramBot.py
Environment=PYTHONUNBUFFERED=1
